<div class="layout">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>

  <!-- MAIN -->
  <div class="main">

    <app-header></app-header>

    <div class="content">

      <!-- TOP CARDS -->
      <app-dashboard-card></app-dashboard-card>

      <div class="grid">

        <!-- LEFT -->
        <div class="left">
          <app-upload-section></app-upload-section>
          <app-history-list></app-history-list>
        </div>

        <!-- RIGHT -->
        <div class="right">
          <app-credit-result></app-credit-result>
          <app-chat-assistant></app-chat-assistant>
        </div>

      </div>

      <app-export-button></app-export-button>

    </div>
  </div>

</div>
