<div class="sidebar">

  <!-- LOGO -->
  <div class="logo">
    <div class="icon">C</div>
    <span>BankDoc Assistant</span>
  </div>

  <!-- MENU -->
  <ul>
    <li class="active">📊 Tableau de bord</li>
    <li>📁 Documents <span class="badge">3</span></li>
    <li>💬 Chat IA</li>

    <h4>ANALYSE</h4>
    <li>⭐ Crédit Score</li>
    <li>📄 Rapports</li>

    <h4>DONNÉES</h4>
    <li>🕓 Historique</li>
    <li>⚙️ Paramètres</li>
  </ul>

  <!-- USER SECTION -->
  <div class="user-section">
   <div class="avatar">{{ initiales }}</div>
<p class="name">{{ nom }}</p>
<span class="role">{{ role }}</span>
  </div>

  <!-- DARK MODE -->
  <div class="dark-mode">
    <span>🌙 Mode clair</span>
    <label class="switch">
      <input type="checkbox" (change)="toggleDarkMode($event)">
      <span class="slider"></span>
    </label>
  </div>

</div>
