.sidebar {
  width: 260px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  margin-bottom: 25px;
}

.logo .icon {
  background: #ff6a00;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
}

/* MENU */
li {
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

li.active {
  background: #fff3eb;
  color: #ff6a00;
}

/* USER */
.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #ff6a00;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  margin: 0;
  font-weight: 500;
}

.role {
  font-size: 12px;
  color: #888;
}

/* DARK MODE */
.dark-mode {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SWITCH */
.switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #ccc;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

input:checked + .slider {
  background: #ff6a00;
}

input:checked + .slider::before {
  transform: translateX(20px);
}
body.dark {
  background: #1e1e1e;
  color: white;
}

body.dark .card,
body.dark .upload,
body.dark .credit,
body.dark .chat,
body.dark .history {
  background: #2a2a2a;
  color: white;
}

body.dark .sidebar {
  background: #222;
}

body.dark input {
  background: #333;
  color: white;
}
